appdirs==1.4.4
beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
frozendict==2.4.6
html5lib==1.1
idna==3.10
lxml==6.0.0
multitasking==0.0.11
numpy==2.3.1
pandas==2.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
schedule==1.2.2
six==1.17.0
soupsieve==2.7
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
webencodings==0.5.1
yfinance==0.2.28
